@CHARSET "ISO-8859-1";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

.container {
  position: relative;
  margin: 10% auto;
  width: 100%;
  height: 100%;
  z-index: 1;
  perspective: 10%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  box-shadow: 5px 5px 5px #aaa;
}
